.mainDiv{
  background: pink;
  display: flex;
  justify-content: space-between;
}
.leftDiv{
  background: red;
  width: 25%;
  position: fixed;
  text-align: center;
  border-radius: 10px;
}
.rightDiv{
  background: aqua;
  width: 70%;
  margin-left: 30%;
}
.pic{
  width: 75%;
  height: 50%;
  border-radius: 20px;
}
.L1{
  margin-top: 3%;
  border-radius: 5px;
}
@media screen and (max-width:768px)  {
  .mainDiv{
    flex-wrap: wrap;
  }
.leftDiv{
  position: relative;
  width: 100%;
  display-flex;
}
.rightDiv{
  margin-left: 0px;
  width: 100%;
}
}
